{% extends 'index.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block links %}
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="stylesheet" type="text/css" href="/static/css/patient_form.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{#        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
    <meta charset="UTF-8">
    <title>Личная информация</title>
    {% endblock %}

</head>
{% block body %}
    <form class="well form-horizontal" method="post" enctype="multipart/form-data" id="contact_form"> {% csrf_token%}
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Заполните личную информацию</b></h2></center></legend><br>

<!-- Text input-->
<div class="patient_form">
    <div class="form-group">
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{ form.first_name | as_crispy_field }}
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{ form.middle_name | as_crispy_field }}
      {{ form.last_name | as_crispy_field }}
      {{ form.birth_date | as_crispy_field }}
        </div>
      </div>
    </div>

    <div class="form-group" id="medicine">
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              {% for item in form.medication %}
                    {{ item }}
              {% endfor %}
        </div>
      </div>
    </div>

         <div class="btn">
         <button type="submit">Подтвердить</button>
      </div>
    </div>
    </fieldset>
    </form>
    </body>
</div>
    </div><!-- /.container -->
{% endblock %}
</html>